#springboard-1 {
  grid-area: springboard-1;
  padding: 10px;
  box-sizing: border-box; }

#springboard-2 {
  grid-area: springboard-2;
  padding: 10px;
  box-sizing: border-box; }

#springboard-3 {
  grid-area: springboard-3;
  padding: 10px;
  box-sizing: border-box; }

#springboard-4 {
  grid-area: springboard-4;
  padding: 10px;
  box-sizing: border-box; }

#springboard-5 {
  grid-area: springboard-5;
  padding: 10px;
  box-sizing: border-box; }

#springboard-6 {
  grid-area: springboard-6;
  padding: 10px;
  box-sizing: border-box; }

#springboard-7 {
  grid-area: springboard-7;
  padding: 10px;
  box-sizing: border-box; }

#springboard-8 {
  grid-area: springboard-8;
  padding: 10px;
  box-sizing: border-box; }

#springboard-9 {
  grid-area: springboard-9;
  padding: 10px;
  box-sizing: border-box; }

.container {
  margin: 40px; }

.springboard {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "springboard-1 springboard-1 springboard-1" "springboard-1 springboard-1 springboard-1" "springboard-4 springboard-5 springboard-6" "springboard-3 springboard-2  springboard-8" "springboard-7 springboard-7 springboard-9" "springboard-7 springboard-7 .";
  background-color: aliceblue;
  grid-gap: 15px; }
  .springboard__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: fit-content;
    background-color: #585353;
    color: white; }
