#springboard-1 {
  grid-area: springboard-1; }

#springboard-2 {
  grid-area: springboard-2; }

#springboard-3 {
  grid-area: springboard-3; }

#springboard-4 {
  grid-area: springboard-4; }

#springboard-5 {
  grid-area: springboard-5; }

#springboard-6 {
  grid-area: springboard-6; }

#springboard-7 {
  grid-area: springboard-7; }

#springboard-8 {
  grid-area: springboard-8; }

#springboard-9 {
  grid-area: springboard-9; }

.container {
  width: 800px;
  height: auto;
  padding-left: 50px;
  padding-right: 50px; }

.springboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  grid-template-areas: "springboard-1 springboard-1 springboard-1" "springboard-1 springboard-1 springboard-1" "springboard-4 springboard-5 springboard-6" "springboard-3 springboard-2  springboard-8" "springboard-7 springboard-7 springboard-9" "springboard-7 springboard-7 .";
  background-color: aliceblue;
  grid-gap: 15px; }
  .springboard:before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1; }
  .springboard__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #585353;
    color: white;
    width: 100%; }
