@import 'variables';

.escapeHatch {
  height: 100px;
  width: 100%;
  margin-bottom: $spacing-20;

  &__logo {
    width: 20%;
    border: 1px solid $black;
    height: 100%;
    display: flex;
    text-decoration:  none;
    justify-content: center;
    align-items: center;
    color: $black;
  }
}
