$grid-columns: 9;
$gray: #585353;

@for $i from 1 through $grid-columns {
    #springboard-#{$i} {
        grid-area: springboard-#{$i};
        padding: 10px;
        box-sizing: border-box;
    }
}
.container {
    margin: 40px;
}
.springboard {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: repeat(6,1fr);
    grid-template-areas:
        "springboard-1 springboard-1 springboard-1"
        "springboard-1 springboard-1 springboard-1"
        "springboard-4 springboard-5 springboard-6"
        "springboard-3 springboard-2  springboard-8"
        "springboard-7 springboard-7 springboard-9"
        "springboard-7 springboard-7 .";
    background-color: aliceblue;
    grid-gap: 15px;


    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        width: fit-content;
        background-color: $gray;
        color: white;

    }
}

// Media Queries

