$grid-columns: 9;
$gray: #585353;
$spacing-50: 50px;
$spacing-1000: 1000px;

@for $i from 1 through $grid-columns {
    #springboard-#{$i} {
        grid-area: springboard-#{$i};
    }
}
.container {
    width: 800px;
    height: auto;
    padding-left: $spacing-50;
    padding-right: $spacing-50;
}
.springboard {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-auto-rows: 1fr;
    grid-template-areas:
        "springboard-1 springboard-1 springboard-1"
        "springboard-1 springboard-1 springboard-1"
        "springboard-4 springboard-5 springboard-6"
        "springboard-3 springboard-2  springboard-8"
        "springboard-7 springboard-7 springboard-9"
        "springboard-7 springboard-7 .";
    background-color: aliceblue;
    grid-gap: 15px;

    &:before  {
        content: '';
        width: 0;
        padding-bottom: 100%;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }


    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        background-color: $gray;
        color: white;
        width: 100%;
    }
}

// Media Queries
